.App {
  text-align: center;
  background: linear-gradient(360deg, #4D8EE2, #64D9D1);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*-----Contenedor del todo app-------*/
.container-todo-app{
  width: 320px;
  height: 430px;
  border-radius: 5px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 3px -2px, rgba(0, 0, 0, 0.14) 0px 3px 4px 0px, rgba(0, 0, 0, 0.12) 0px 1px 8px 0px;
}

/*-----Input------*/
.input-todo-app{
  width: 100%;
}
.MuiInputBase-input.MuiOutlinedInput-input{
  display: flex;
  align-items: center;
}

/*----Contenedor en fila-----*/
.container-row{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

/*----Boton Add------*/
.icon-button{
  width: 55px;
  height: 55px;
  border-radius: 0px !important;
  background-color: #8F4BEC !important;
  color: #ffffff !important;
  margin-left: 10px !important;
}
.icon-button:hover{
  border-radius: 0px !important;
  background-color: #843ee6 !important;
}


/*-----Titulo de la APP-----*/
.todo-app__title{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: left;
  font-weight: 600;
  font-size: 25px;
}

/*-----Contenedor de las tareas-------*/
.container-tasks{
  width: 100%;
  height: 80%;
  overflow-y: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 15px;
  padding-bottom: 10px;
  overflow-x: hidden;
}

.MuiInputBase-root.MuiOutlinedInput-root {
  font-family: "Poppins" !important;
}

.MuiFormLabel-root.MuiInputLabel-root{
  font-size: 14px !important;
  font-family: "Poppins" !important;
}

.MuiInputBase-input.MuiOutlinedInput-input{
font-size: 14px;
}

/*-----Contenedor del boton para borrar todo y la cantidad-------*/
.container-task-number-with-clear{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  margin-top: 10px;
}

/*----Boton para eliminar todos------*/
.MuiButtonBase-root.MuiButton-root{
  background-color: #8F4BEC !important;
  font-family: "Poppins" !important;
  font-size: 14px;
  text-transform: none;
}


.container-transition{
  width: 100%;
}

.MuiTypography-root.MuiDialogTitle-root{
  font-family: "Poppins" !important;
  font-weight: 400 !important;
  font-size: 14px;
}